.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: rgb(207, 201, 201) !important;
  z-index: 1;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
  }
  
  .compartments {
    border: none;
    background-color: rgb(207, 201, 201) !important;
    
  }
  
  .compartment-name{
    font-weight: 800px;
  }
  .compartments .ant-menu-item {
    margin-bottom: 10px;
    
  }
  
  .compartments .ant-menu-item:hover {
    font-weight: bold;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .fa-circle-o{
    font-size:24px
  }

  